* {
	margin:0;
    padding:0;
    font-family:courrier,serif;

}
.header{
	min-height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(3,4,5,0.7),rgba(3,4,5,0.7)), url("C:\\Users\\ajayk\\OneDrive\\Desktop\\project2\\edu12.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
	display: flex;
	padding: 2%,6%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	padding-top:10%;
	padding-left:10%;
	width:150px;
	height:100px;
}
.nav-links{
	flex:1;
	text-align:right;
}
.nav-links ul li{
	 list-style: none;
  margin-bottom: 0;
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
  
}
.nav-links ul li a{
	color:white;
	text-decoration: none;
	font-size: 13px;
	font-weight: 1000
}
.nav-links ul li::after{
 	content: '';
 	width: 0%;
 	height: 2px;
 	background:red;
 	display: block;
 	margin: auto;
 	transition:0.5s;
 }
  .nav-links ul li:hover::after{
  	width:100%;
  }
.test-box{
	width:90%;
	color:#fff;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	text-align: center;
}

.test-box h1{
	font-size:62px;
	color:white;
}

.test-box p{
	margin:10px 0 40px;
	font-size:20px;
	color:green;
	font-weight: 1000;
}
.hero-btn{
	display: inline-block;
	text-decoration:none;
	color:#fff;
	border:1px solid green;
	padding: 12px 34px;
	font-size:13px;
	background:transparent;
	position:relative;
	cursor: pointer;
}
.hero-btn:hover{
	border:1px solid #fff;
	background:green;
	transition: 1s;

}
nav .fa{
	display: none;

}
@media(max-width: 700px){
	.text-box h1{
		font-size:20px;
	}
	.nav-links ul li{
		display:block;
	}
	.nav-links{
		position:fixed;
		background:green;
		height:100vh;
		width:200px;
		top:0;
		right:-200px;
		text-align: left;
		z-index:2;
		transition:1s;

	}
	nav .fa{
		display:block;
		color:#fff;
		margin:10px;
		font-size:22px;
		cursor:pointer;
	}
	.nav-links ul{
		padding:30px;
	}
}
/*---course---*/
.course{

	width:100%;
	margin:auto;
	text-align:center;
	padding-top:100px;
	padding-bottom:1px;
	color: #fff;
	background: rgba(0,0,1,0.1);
	

}
h1{
	font-size:36px;
	font-weight:1000;
	color:green;
}
p{
	color:black;
	font-size:16px;
	font-weight:500;
	line-height:22px;
	padding:10px;
}
.row{
	margin:5%;
	display:flex;
	justify-content: space-between;
	
}
.course-col{
	flex-basis:31%;
	background:#fff;
	border-radius: 20px;
	margin-bottom: 5%;
	padding:20px 12px ;
	box-sizing: border-box;
	transition: 0.5s;
}
h3{
	text-align:center;
	font-weight:600;
	margin:10px;
	color:green;

}

.course-col:hover{
	box-shadow: 0 0 20px 9px rgba(0,100,0, 0.8);

}
@media(max-width: 700px){
	.row{
		flex-direction: column;
	}
}
/*---campus---*/
.campus{
	width:100%;
	margin:auto;
	text-align:center;
	background:rgba(0,0,1,0.1);
	color:white;
	padding-top:100px;
	padding-bottom:1px;
	font-weight:1000;

}
.campus-col{
	flex-basis: 32%;
	border-radius:10px;
	margin-bottom: 30px;
	position:relative;
	overflow: hidden;

}
.campus-col img{
	width:100%;
	display:block;
}
.layer{
	background:transparent;
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	transition:0.5s;
}
.layer:hover{
	background:rgba(0,100,0, 0.8);

}
.layer h3{
	width:100%;
	font-weight:600;
	color:white;
	font-size:26px;
	bottom:0;
	left:50%;
	transform:translatex(-50%);
	position:absolute;
	transition:0.5s;
}
.layer:hover h3{
	bottom:49%;
	opacity:1;
}

/*---facilities---*/

.facilities{
	width:100%;
	margin:auto;
	text-align:center;
	padding-top:100px;
	padding-bottom:1px;
	background:rgba(0,0,1,0.1);
}
.facilities-col{
	flex-basis:31%;
	border-radius: 10px;
	margin-bottom:5%;
	text-align: left;
}
.facilities-col img{
	width:100%;
	border-radius: 10px;
}
.facilities-col p{
	padding:0;

}
.facilities-col h3{
	margin-top:16px;
	margin-bottom:15px;
	text-align:left;
}

/*----testimonials----*/
.testimonials{
	width:100%;
	margin:auto;
	padding-top:100px;
	padding-bottom:1px;
	text-align: center;
	background:rgba(0,0,1,0.1);
}
.testimonial-col{
	flex-basis:44%;
	border-radius:10px;
	margin-bottom:5%;
	text-align:left;
	background:white;
	padding:25px;
	cursor: pointer;
	display: flex;
}
.testimonial-col img{
	height:60px;
	margin-left:5px;
	margin-right:30px;
	border-radius:50%;
}
.testimonial-col p{
	padding:0;
}
.testimonial-col h3{
	margin-top:15px;
	text-align:left;
}
.testimonial-col{
	color:green;
}
@media(max-width: 700px){
    margin-left:0px;
	margin-right:15px;
}

/*--cta---*/
.hello{
	width:100%;
	margin:auto;
	padding-top:1px;
	padding-bottom:1px;
	text-align: center;
	background:rgba(0,0,1,0.1);
	background:rgba(0,0,1,0.1);
}
.cta{
	margin:100px auto;
	width:80%;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("C:\\Users\\ajayk\\OneDrive\\Desktop\\project2\\edu11.png");
	background-position:center;
	background-size:cover;
	border-radius:10px;
	text-align:center;
	padding:100px 0;

}
.cta h1{
	color:#fff;
	margin-bottom:40px ;
	padding: 0;
}

@media(max-width:700px){
	.cta h1{;
		font-size:24px;
	}
}
/*----footer----*/
.footer{
	width:100%;
	text-align:center;
	padding:30px 0;
	background: rgba(0,0,1,0.1);

}
.footer h4{
	margin-bottom:25px;
	margin-top:20px;
	font-weight:600;

}

.icons .fa{
	color:green;
	margin:0 13px;
	cursor:pointer;
	padding:18px 0;
}
.fa-heart-o{
	color:green;
}
/*---about us page---*/
.sub-header{
	height:50vh;
	width:100%;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("C:\\Users\\ajayk\\OneDrive\\Desktop\\project2\\edu11.png");
	background-position:center;
	background-size:cover;
	text-align:center;
	color:#fff;

   
}
.sub-header h1{
	margin-top:100px;
    color:white;
}
.about-us{
	width:100%;
	margin:auto;
	padding-top:80px;
	padding-bottom:50px;
	background: rgba(0,0,1,0.1);
}
.about-col{
	flex-basis:50%;
	padding:30px 2px;
}
.about-col img{
	width:100%;
}
.about-col h1{
	padding-top:0;
}
.about-col p{
	padding:15px 0 25px;
}
.red-btn{
	border: 1px solid green;
	background: transparent;
	color:green;
}
.red-btn:hover{
	color:#fff;
}
/*-----blog content ----*/
.blog-content{
	width:100%;
	margin:auto;
	padding:60px 0;
	background: rgba(0,0,1,0.1)
}
.blog-left{
	flex-basis:65%;
}
.blog-left img{
	width:100%;
}
.blog-left h2{
	color:green;
	font-weight:600;
	margin:30px 0;
}
.blog-left p{
	color:black;
	padding:0;
}
.blog-right{
	flex-basis:32%;
}
.blog-right h3{
	background:green;
	color:#fff;
	padding:7px 0;
	font-size:16px;
	margin-bottom:20px;
}
.blog-right div{
	display:flex;
	align-items:center;
	justify-content:space-between;
	color:#555;
	padding:8px;
	box-sizing:border-box;
	border:0.2px solid green;

}
.comment-box{
	border:2px solid green;
	margin: 50px 0;
	padding:10px 20px;
	background: white;

}
.comment-box h3{
	text-align:left;

}
.comment-form input, .comment-form textarea{
	width:100%;
	padding:10px;
	margin:15px 0;
	box-sizing: border-box;
	border:0.5px solid green;
	outline:none;
	background:#f0f0f0;
}
.comment-form button{
	margin:10px 0;
}
@media(max-width:700px){
	.sub-header h1{
		font-size:24px;
	}

}

/*----contact us page----*/
.hi{
	width:100%;
	margin:auto;
	padding:60px 0;
	background:rgba(0,0,1,0.1);
}
.location{
  width:80%;
  margin:auto;
  padding:80px 0;
  
  }
.location iframe{
	width:100%;
}
.contact-us{
	width:80%;
	margin:auto;
}
.contact-col{
	flex-basis:48%;
	margin-bottom:30px;

}
.contact-col div{
	display:flex;
	align-items:center;
	margin-bottom:40px;
}
.contact-col div .fa{
	font-size:28px;
	color:green;
	margin:10px;
	margin-right:30px;
}
.contact-col div p{
	padding:0;

}
.contact-col div h5{
	font-size:20px;
	margin-bottom:5px;
	color:#555;
	font-weight:400;

}
.contact-col input, .contact-col textarea{
	width: 100%;
	padding:15px;
	margin-bottom:17px;
    outline:none;
    border:1px solid #ccc;
    box-sizing:border-box;
    border:2px solid green;
}




#testimonial {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100%;
  background: rgba(0,0,1,0.1);

}

#testimonial .heading {
  font-size:40;
  padding-top: 5rem;
  margin: 2rem 0;
  color: green;
  text-align: center;
  position: relative;
}

#testimonial .heading::after {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: .3rem;
  width: 60%;
  border-radius: 5rem;
}



#testimonial .box-container {
  width: 100%;

}

#testimonial .box-container .box {
  max-width: 40rem;
  background: #fff;
  border-radius: 20px;
 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem;
  margin-left: 5rem;
  padding-left: 6rem;
  position: relative;
  clear: both;
}

#testimonial .box-container .box img {
  position: absolute;
  top: 50%;
  left: -9%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 7rem;
  width: 7rem;
  border-radius: 10rem;
  border: 0.5rem solid green;
  -webkit-box-shadow: 0 0 5rem #00B894 inset;
          box-shadow: 0 0 5rem #00B894 inset;
  -o-object-fit: cover;
     object-fit: cover;
}

#testimonial .box-container .box .info h2 {
  margin-top: -2.5rem;
  margin: 2rem;
  color: #00B894;
  text-align: right;
}

#testimonial .box-container .box .info p {
  font-size: 1rem;
  padding: 1rem;
  color: #333;
}

#testimonial .box-container .box .info p i {
  padding: 1rem;
  color: #00B894;
}

#testimonial .box-container .box:nth-child(even) {
  float: right;
}

.service{

	width:100%;
	margin:auto;
	text-align:center;
	padding-top:100px;
	padding-bottom:1px;
	color: #fff;
	background: rgba(0,0,1,0.1);
}
.course-co{
	flex-basis:31%;
	background:#fff;
	border-radius: px;
	margin-bottom: 5%;
	padding:20px 12px ;
	box-sizing: border-box;
	transition: 0.5s;
	border:3px solid green;
}
.course-co img{
	border-radius:200px;
	border:3px solid green;
}
.course-co h2{
	font-size: 20;
	color:green;
	padding-top:20px;
}
.course-co p{
	font-size:13;
}
@media(max-width: 700px){
	.row{
		flex-direction: column;
	}
	.course-co{
		font-size:10;
	}
}